In [20]:
import pandas as pd 

df = pd.DataFrame({ 'Name': ['Alice', 'Bob', 'Charlie', 'David'], 
                    'Age': [25, 30, 35, 40], 
                    'City': ['NY', 'LA', 'Chicago', 'Houston'] }) 

# How would you select rows where Age is greater than 30 using both loc and iloc?
df.loc[2,'Age'] 
# agesIndex = [ i for i in range(len(df['Age'])) if df['Age'][i] > 30] 
agesIndex = df[df['Age'] > 30].index

df.loc[agesIndex, 'Age']
df.iloc[agesIndex, 2]

2    Chicago
3    Houston
Name: City, dtype: object

In [24]:
df[df['Age']>32]
df['Age']>32

      Name  Age     City
2  Charlie   35  Chicago
3    David   40  Houston