In [15]:
# How would you select the 'Name' and 'City' columns for the first 3 rows using loc?
import pandas as pd 

df = pd.DataFrame({ 'Name': ['Alice', 'Bob', 'Charlie', 'David'], 
                    'Age': [25, 30, 35, 40], 
                    'City': ['NY', 'LA', 'Chicago', 'Houston'] }) 

df.loc[:3, ['Name', 'City']]

      Name     City
0    Alice       NY
1      Bob       LA
2  Charlie  Chicago
3    David  Houston

In [18]:
df.loc[:2, ['Name',"City"]]

      Name     City
0    Alice       NY
1      Bob       LA
2  Charlie  Chicago