In [1]:
# How would you group by both 'Product' and 'Region' and calculate multiple aggregations (sum, mean, count) for sales?
import pandas as pd
sales = pd.DataFrame({ 'Product': ['A', 'B', 'A', 'B', 'A', 'B'], 
                       'Region': ['North', 'North', 'South', 'South', 'East', 'East'], 
                       'Sales': [100, 150, 200, 120, 180, 160] }) 

df = pd.DataFrame(sales)

In [5]:
df.groupby(['Product',"Region"])['Sales'].agg(["sum","mean","count"])

  Product Region  Sales
0       A  North    100
1       B  North    150
2       A  South    200
3       B  South    120
4       A   East    180
5       B   East    160