In [3]:
import pandas as pd 
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['A', 'B', 'C']}) 
df2 = pd.DataFrame({'ID': [1, 2, 4], 'Score': [85, 90, 95]})

# How would you perform an inner join on the 'ID' column?

In [4]:
pd.merge(df1, df2, on="ID", how='inner')

   ID Name  Score
0   1    A     85
1   2    B     90

In [5]:
pd.merge(df2, df1,on="ID", how="inner")

   ID  Score Name
0   1     85    A
1   2     90    B

In [6]:
pd.merge(df1,df2,on="ID", how="left")

   ID Name  Score
0   1    A   85.0
1   2    B   90.0
2   3    C    NaN