In [4]:
# How would you forward-fill missing values in a time series DataFrame?
data = {
    'date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05'],
    'sales': [100, None, 130, None, 160]
}

import pandas as pd 

df = pd.DataFrame(data) 
df.ffill()

         date  sales
0  2023-01-01  100.0
1  2023-01-02  100.0
2  2023-01-03  130.0
3  2023-01-04  130.0
4  2023-01-05  160.0