In [14]:
# How would you interpolate missing values in a numeric column using linear interpolation?

import pandas as pd 
import numpy as np

data = {'day': pd.date_range('2023-01-01', periods=5),
        'sales': [100, np.nan, 130, np.nan, 160]}
df = pd.DataFrame(data)

df['sales'] = df['sales'].interpolate()

df

         day  sales
0 2023-01-01  100.0
1 2023-01-02  115.0
2 2023-01-03  130.0
3 2023-01-04  145.0
4 2023-01-05  160.0