In [20]:
# How would you drop all rows where the 'Age' column has missing values while keeping other rows intact?  
import pandas as pd 
import numpy as np 
df = pd.DataFrame({ 'Name': ['Alice', 'Bob', None, 'David', 'Eve'], 'Age': [25, None, 35, 40, None], 'Salary': [50000, 60000, None, 70000, 55000] })

df['Age'].isnull()

print(df['Age'].dropna(inplace=True))
# df.dropna(inplace=True)
df.dropna(subset=['Age'])
df.dropna(subset=['Age'], inplace=True) # inplace --> updates the real data frame

df

None

    Name   Age   Salary
0  Alice  25.0  50000.0
2   None  35.0      NaN
3  David  40.0  70000.0