In [19]:
# You have a dataset with outliers in the 'Salary' column. How would you identify values that are more than 2 standard deviations away from the mean?

import pandas as pd 
import numpy as np 

data = {
    'name': [
        "Alice", "Bob", "Charlie", "David", "Eva", 
        "Frank", "Grace", "Helen", "Ian", "Jane",
        "Outlier1", "Outlier2"
    ],
    "salary": [
        35000, 42000, 39000, 41000, 37000, 
        43000, 40000, 39500, 38000, 40500,
        150000, 1000  # Outliers: one very high, one very low
    ]
}

df = pd.DataFrame(data)

mean = df['salary'].mean() 
std = df['salary'].std() 

upperBound = mean + 2 * std 
lowerBound = mean - 2 * std

outlier = ((df['salary']>upperBound) | (df['salary']<lowerBound))


outlier
df[outlier]

        name  salary
10  Outlier1  150000

In [27]:
upperBound = mean + 1 * std 
lowerBound = mean - 1 * std

outlier = ((df['salary']>upperBound) | (df['salary']<lowerBound))

df[outlier]

        name  salary
10  Outlier1  150000
11  Outlier2    1000