In [29]:
import pandas as pd 
from sklearn.preprocessing import OneHotEncoder

data = pd.read_csv('../../datasets/customers-100.csv') 
data = pd.DataFrame(data)
oneHotEncoder = OneHotEncoder() 
# data['Customer Id'] = oneHotEncoder.fit_transform(pd.DataFrame(data['Customer Id'])).toarray() 

d = oneHotEncoder.fit_transform(pd.DataFrame(data['Customer Id'])).toarray() 

oneHotEncoder = OneHotEncoder() 
# data['First Name'] = oneHotEncoder.fit_transform(pd.DataFrame(data['First Name'])).toarray()

data 
d

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]], shape=(100, 100))

In [30]:
data = {
    "Name": ["Alice", "bob", "Charlie", "diana"],
    "age": [25, 30, 35, 28],
    "city": ["NYC", "UA", "Chicago", "India"],
    "salary": [50000, 60000, 70000, 80000],
}


df = pd.DataFrame(data)



# oh_encoder = OneHotEncoder().fit_transform(df["Name"]).toarray() # error
oh_encoder = OneHotEncoder().fit_transform(pd.DataFrame(df["Name"])).toarray()
print(oh_encoder)


df["Name"] = oh_encoder

df

[[1. 0. 0. 0.]
 [0. 0. 1. 0.]
 [0. 1. 0. 0.]
 [0. 0. 0. 1.]]

   Name  age     city  salary
0   1.0   25      NYC   50000
1   0.0   30       UA   60000
2   0.0   35  Chicago   70000
3   0.0   28    India   80000

In [32]:
df = pd.DataFrame(["red", "pink", "yellow"]) 
oh = OneHotEncoder().fit_transform(df).toarray() 
oh

array([[0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.]])