In [2]:
# Q1: You have the following DataFrame:
# Q: How would you select the age of "Charlie" using loc?

In [65]:
import pandas as pd

df = pd.DataFrame({
    'Name': ['Alice', 'bob', 'charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['NY', 'LA', 'Chicago', 'Houston']
}, index=['a', 'b', 'c', 'd'])

df['Age']['c']

df['Age']['c']
df.loc['c']['Age']

# df.log[index, column]
df.loc['c','Age'] # ---> solution How would you select the age of "Charlie" using loc?
# df

# give list of index 
df.loc[['a', 'b']]

    Name  Age City
a  Alice   25   NY
b    bob   30   LA

In [59]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],

                  index=['cobra', 'viper', 'sidewinder'],

                  columns=['max_speed', 'shield'])

df.loc['cobra','shield']
# df

np.int64(2)