In [2]:
import pandas as pd
customers = pd.DataFrame({'customer_id':[1,2,3,4],'name':["Alice", "Bob","Charlie", 'Diana'],"city": ["NYC", "UA", "Chicago", "India"],
    "salary": [50000, 60000, 70000, 80000]}) 

orders = pd.DataFrame( {'order_id' : [101,102,103,104,105], 'customer_id':[1,2,1,3,5], "product":['laptop','phone','tablet','watch','camera'], 'amount':[1200,800,550,300,900]})

In [7]:
grouped = orders.groupby('order_id')['amount'].sum()

grouped = orders.groupby(customers['name'])['amount'].sum()

grouped

name
Alice      1200
Bob         800
Charlie     550
Diana       300
Name: amount, dtype: int64

In [ ]:
#