In [2]:
# pivot table

import pandas as pd

customers = pd.DataFrame({'customer_id':[1,2,3,4],'name':["Alice", "Bob","Charlie", 'Diana'],"city": ["NYC", "UA", "Chicago", "India"],
    "salary": [50000, 60000, 70000, 80000]})

In [10]:
pt_result = pd.pivot_table(customers, values='salary',index='name',aggfunc='mean')
pt_result = pd.pivot_table(customers, values='salary',index='name',aggfunc='sum')
pt_result = pd.pivot_table(customers, values=['salary','customer_id'],index='name',aggfunc=['mean','sum'])
pt_result = pd.pivot_table(customers, values=['salary','customer_id'],index=['name','city'],aggfunc=['mean','sum'])
pt_result

                       mean                  sum
                customer_id   salary customer_id salary
name    city
Alice   NYC             1.0  50000.0           1  50000
Bob     UA              2.0  60000.0           2  60000
Charlie Chicago         3.0  70000.0           3  70000
Diana   India           4.0  80000.0           4  80000